
{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry</h1>

    <br>

    <form method='post'>
      <div>

        <label>Title for your new blog:<br>
     
            <input type="text" name='blog-title' value="{{blog_title}}">

        </label>

        <p class="error">{{title_error}}</p>

        <label>Your new blog:<br>

            <textarea name='blog-entry' >{{blog_body}}</textarea>

        </label>

        <p class="error">{{body_error}}</p>

        <input class="button" type="submit" value='Add Entry'>
      </div>

    </form>

{% endblock %}   