
{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry</h1>

    <br>

    <form method='post'>

        <label>Title for your new blog:

            <br>

            <input type="text" name='blog-title' value="{{blog_title}}">

        </label>

        <p class="error">{{title_error}}</p>

        <label>Your new blog:

            <br>

            <textarea name='blog-entry' style="width:450px; height:125px;">{{blog_body}}</textarea>

        </label>

        <p class="error">{{body_error}}</p>

        <input type="submit" value='Add Entry'>

    </form>

{% endblock %}   